// colors
$dark-gray: #34313D;
$bright-grey: #3A3054;
$mulled-wine: #4B3F6B;
$rose-quartz: #9E9AA8;
$porselain: #EFF1F7;
$medium-turqoise: #2BD0D0;
$moring-glory: #9AE3E3;

// fonts
$main-font-family: 'Poppins', Arial, sans-serif;
$main-font-size: 2.2rem;
